<nav class="navbar">   
    <div class="div-logo" >
        <img class="logo" routerLink="home" src="assets/images/logo.png" >
    </div>
    <div class="components">
        <div class="social">
            <img  class="margin" routerLink="home" src="assets/images/whatsapp.png" >
            <img  class="margin" routerLink="home" src="assets/images/instagram.png" >
            <img  class="margin" routerLink="home" src="assets/images/facebook.png" >
        </div>
        <div class="text">
            <a href="#"> Vivamus</a>
            <a> Accumsan</a>
            <a> Aenean</a>
            <a> Vestibulum</a>
            <a> Integer</a>
            <img  class="car" routerLink="home" src="assets/images/carrito.png" >
        </div>
    </div>
</nav>