<nav class="navbar">   
    <div class="div-logo" >
        <img class="logo" routerLink="home" src="assets/images/logo.png" >
    </div>
    <div class="components">
        <div class="social">
            <img  class="margin" routerLink="home" src="assets/images/whatsapp.png" >
            <img  class="margin" routerLink="home" src="assets/images/instagram.png" >
            <img  class="margin" routerLink="home" src="assets/images/facebook.png" >
        </div>
        <div class="text">
            <h3 > Vivamus</h3>
            <h3> Accumsan</h3>
            <h3> Aenean</h3>
            <h3> Vestibulum</h3>
            <h3> Integer</h3>
            <img  class="car" routerLink="home" src="assets/images/carrito.png" >
        </div>
    </div>
</nav>