<div class="container">
    <img class="img-card" routerLink="home" src="assets/images/planos/casa1.png">
    <div class="data">
        <div class="data1"> 
            <h4 class="title">300 m</h4>
            <h5 class="text">Área Terreno1</h5>
        </div>
        <div class="data1 color">
            <h4 class="title">150 m</h4>
            <h5 class="text">Área Terreno</h5>
        </div>
        <div class="data1">
            <h4 class="title">Solicitud</h4>
            <h5 class="text">Costo</h5>
        </div>
    </div>
    <button class="button">
            <span>Casa familiar</span>
            <img class="img-flecha" routerLink="home" src="assets/images/planos/flecha.png">
    </button>
</div>
