<div class="home">
    <div class="container1">
        <div class="background-container texture"></div>
        <div class="background-container image"></div>
        <div class="text-title">
            Encuentra<br/>
            tu espacio <span class="caracter-title">ideal</span> 
        </div>
    </div>
    <div class="container2">
        <div class="background-container image-2" >
            <img class="image" src="/assets/images/home/pasionHome.png">
        </div>
        <div class="background-container alone">
            <div class="text-title-2">
                Experiencia y  Pasión
            </div>
            <div class="squares">
                <div class="top-squares">
                    <div class="square text">
                        <p class="title-square">15+</p>
                        <p class="text-square">Años de 
                            trayectoria</p>
                    </div>
                    <div class="square orange text">
                        <p class="title-square">20</p>
                        <p class="text-square">Personas expertas
                            en diseño</p>
                    </div>
                </div>
                <div class="down-squares">
                    <div class="square brown text">
                        <p class="title-square">120</p>
                        <p class="text-square">Proyectos 
                            realizados</p>
                    </div>
                    <div class="square text">
                        <p class="title-square">99+</p>
                        <p class="text-square">personas
                            satisfechas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="container3">
        <div class="box-title">
            <h1 class="title">Ultimos Proyectos</h1>
        </div>
        <app-card-home-city class="card-home"></app-card-home-city>
        <app-card-home-city class="card-home"></app-card-home-city>
        <app-card-home-city class="card-home"></app-card-home-city>
       
    </div>
    <div class="container4">
        <img class="image" src="/assets/images/home/2686245.png">
        <div class="text">
            
            <span class="title">Quienes somos y en que</span>
            <span class="title">Estamos espacializados</span>
            <h3 class="pa">is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type.
                </h3>
            
            <h3 class="circle"><i class="fas fa-circle "></i>Nam lacinia ultrices dui et mollis. Maecenas posuere purus nec iaculis pellentesque. Proin quis aliquam elit.</h3>
            <h3 class="circle"><i class="fas fa-circle"></i>Nam lacinia ultrices dui et mollis. Maecenas posuere purus nec iaculis pellentesque. Proin quis aliquam elit.</h3>
            <h3 class="circle"><i class="fas fa-circle"></i>Nam lacinia ultrices dui et mollis. Maecenas posuere purus nec iaculis pellentesque. Proin quis aliquam elit.</h3>
            <h3 class="circle"><i class="fas fa-circle"></i>Nam lacinia ultrices dui et mollis. Maecenas posuere purus nec iaculis pellentesque. Proin quis aliquam elit.</h3>
        </div>
    </div>
</div>
