<div class="container1">
    <div>
        <img class="img-inicio" routerLink="home" src="assets/images/enmascarar.png">
    </div>
</div>
<div class="container2">
    <div class="container-icon">
        <div class="icon">
            <img class="img-icon" routerLink="home" src="assets/images/grupo1.png" >
            <h2 class="title-icon">Fusce ligula</h2>
            <h3 class="text-icon">Proin vulputate erat ligula, vitae rhoncus 
                lorem finibus ut. Pellentesque efficitur lacinia condimentum.</h3>
        </div>
        <div class="icon">
            <img class="img-icon" routerLink="home" src="assets/images/grupo2.png" >
            <h2 class="title-icon">Pellentesque</h2>
            <h3 class="text-icon">Proin vulputate erat ligula, vitae rhoncus 
                lorem finibus ut. Pellentesque efficitur lacinia condimentum.</h3>
        </div>
        <div class="icon">
            <img class="img-icon" routerLink="home" src="assets/images/grupo3.png" >
            <h2 class="title-icon"> Tincidunt eu</h2>
            <h3 class="text-icon">Proin vulputate erat ligula, vitae rhoncus 
                lorem finibus ut. Pellentesque efficitur lacinia condimentum.</h3>
        </div>
    </div>
    <div class="filters">
        <h1 class="text-filter">Filtrar</h1>
        <div class="casillas">
            <select class="select-value dimension">
                <option value="" disabled selected>Metros cuadrados</option>
                <option value="value1">Value 1</option>
                <option value="value2" >Value 2</option>
            </select>
            <select class="select-value dimension">
                <option value="" disabled selected>Precios</option>
                <option value="value1">Value 1</option>
                <option value="value2">Value 2</option>
            </select>
            <button class="search dimension">Aplicar</button>
        </div>
    </div>
</div>
<div class="container3">
    <app-card-home class="card"></app-card-home>
    <app-card-home class="card"></app-card-home>
    <app-card-home class="card"></app-card-home>
    <app-card-home class="card"></app-card-home>
    <app-card-home class="card"></app-card-home>
</div>