<main class="main__check">
    <div class="checkout">
        <h1>Checkout</h1>
        <br>
        <br>
        <div class="checkout__container">
            <div class="checkout__container--form">
                <p>Dirección de envío</p>
                <br>
                <form action="">
                    <label>País</label>
                    <select name="" id="">
                        <option value="">Colombia</option>
                        <option value="">Estados unidos</option>
                    </select>
                    <br>
                    <br>
                    <label>Nombre*</label>
                    <input type="text" name="" id="">
                    <br>
                    <br>
                    <label>Apellido*</label>
                    <input type="text" name="" id="">
                    <br>
                    <br>
                    <label>Correo Electrónico*</label>
                    <input type="text" name="" id="">
                    <br>
                    <br>
                    <label>Télefono*</label>
                    <input type="text" name="" id="">
                </form>
            </div>
            <div class="checkout__container--pay">
                <h2>TU PEDIDO</h2>
                <br>
                <br>
                <div class="pedido">
                    <p>Casa monaco x1</p>
                    <p>$1.200.000</p>
                    <p>Casa Estandar x1</p>
                    <p>$1.200.000</p>    
                    <p>Subtotal carrito</p>         
                    <p>$1.200.000</p>
                    <p><strong>Total pedido</strong></p>
                    <p><strong>$3.600.000</strong></p>
                </div>
                <div class="metodo-pago">
                    <br>
                    <br>
                    <h2>MÉTODO DE PAGO</h2>
                    <label for=""><input type="checkbox">   Transferencia bancaria</label>
                    <p>Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan liquidado en nuestra cuenta.</p>
                    <label for=""><input type="checkbox">   <img src="../../../assets/images/pago-1.png" alt=""></label>
                    <button>Realizar pedido</button>
                </div>
            </div>
        </div>
    </div>
</main>
